#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.

In [25]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [26]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [27]:
#creating a tuple 
list = [1,2,3,4,5]
print(type(list))
Tuple1 = ()
print(type(Tuple1))
Tuple1 = (list)
print(Tuple1) # list

<class 'list'>
<class 'tuple'>
[1, 2, 3, 4, 5]

In [28]:
#Differences between List and Tuple in Python
#https://www.geeksforgeeks.org/python-difference-between-list-and-tuple/

# List is mutable
# Creating a List with
# the use of Numbers
# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
print("Original list ", List)

List[3] = 77
print("Example to show mutability ", List)
print("####################################################")
# code to test that tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print("original Tuple is", tuple1)

Original list  [1, 2, 4, 4, 3, 3, 3, 6, 5]
Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]
####################################################

TypeError: 'tuple' object does not support item assignment

In [29]:
#updated Tuple Values
x = ("apple", "banana", "cherry")
print(type(x))
y = list(x)
print(type(y))
y[1] = "kiwi"
x = tuple(y)
print(x)

<class 'tuple'>

TypeError: 'list' object is not callable

In [30]:
numbers=tuple([1,2,3,4,5,6])
print(type(numbers))
numbers

<class 'tuple'>

(1, 2, 3, 4, 5, 6)

In [31]:
list((1,2,3,4,5,6))
#print(type(list((1,2,3,4,5,6))))

TypeError: 'list' object is not callable

In [32]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [33]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [34]:
print(numbers[2])
print(numbers[-1])
print(numbers[2:5]) #Range of Indexes

3
6
(3, 4, 5)

In [35]:
numbers[0:4]

(1, 2, 3, 4)

In [36]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [37]:
#check this item present or not in tuple
thistuple = ("apple", "banana", "cherry")
if "cherry" in thistuple:
    print("Yes item present")

Yes item present

In [38]:
# Change Tuple Values : VVI
# steps : tuple => list as tuple is immutable, 
# then  update the list 
# go back to tuple by converting list to tuple 
#ref: https://www.w3schools.com/python/python_tuples_update.asp
x = ("apple", "banana", "cherry")
print(type(x))
y = list(x)
print(type(y))

<class 'tuple'>

TypeError: 'list' object is not callable

In [39]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [40]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [41]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [42]:
#Tuple Multiplication 
# initialize tuples
test_tup1 = (10, 4, 5, 6)
test_tup2 = (5, 6, 7, 5)
print(test_tup1 * 3)

(10, 4, 5, 6, 10, 4, 5, 6, 10, 4, 5, 6)

In [43]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [44]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [46]:
print(numbers)
updated_numbers = numbers*3
print(updated_numbers)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [47]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))
## Tuple Methods
print(updated_numbers.count(1))
print(updated_numbers.index(3))

1
2
3
2

In [56]:
## Packing and Unpacking tuple --vvi
## packing
## When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
packed_tuple=1,"Hello",3.14
print(packed_tuple)

# we are also allowed to extract the values back into variables. This is called "unpacking":

fruits = ("apple", "banana", "cherry")

(a, b, c) = fruits

print(f"value of a is {a}")
print(f"value of b is {b}")
print(f"value of c is {c}")

(1, 'Hello', 3.14)
value of a is apple
value of b is banana
value of c is cherry

In [29]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [30]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [33]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [34]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [36]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [37]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.